// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #ffffff;
$bg-color: #191724;
$button-color: #1f1d2e;
$hover-color: #26233a;
$muted-color: #6e6a86;

$radius: 7px;

window.Bar {
    border: none;
    box-shadow: none;
    font-size: 0.8rem;
    background: transparent;
    color: $fg-color;
    font-family: "Departure Mono";
    font-weight: bold;

    label {
    }

    > centerbox {
        background: $bg-color;
        padding: 4px;
    }

    button {
        all: unset;
        padding: 4px 8px;
        color: $fg-color;
        background: $button-color;
        border: 0;
        border-radius: 4px;
        margin: 0px;

        &:hover {
            background: $hover-color;
        }

        &:active {
            background: $button-color;
        }
    }

    .WorkspacesBox {
        border-radius: 4px;
        background: $button-color;
    }

    .workspace-active-button {
        background: $hover-color;
    }

    .right {
        button {
            margin: 0px 4px;
        }
    }

    .bat-icon {
        padding-right: 0.4rem;
    }
}

window.DockWindow {
    button {
        all: unset;
        padding: 8px;
        border-radius: 4px;
        background: $button-color;

        &:hover {
            background: $hover-color;
        }

        &:active {
            background: $button-color;
        }
    }

    .Dock {
        background: $button-color;
        padding: 4px;
        margin: 0px 0px 4px 0px;
        border-radius: 4px;
    }

    .dock-button-icon {
        font-size: 1.5rem;
    }

    .dock-active-button {
        background: $hover-color;
    }
}
