@use "./colors" as *;

window.Bar {
    border: none;
    box-shadow: none;
    font-size: 0.8rem;
    background: transparent;
    color: $text;
    font-family: "Departure Mono";
    font-weight: bold;

    label {
    }

    > centerbox {
        background: $mantle;
        padding: 4px;
    }

    button {
        all: unset;
        padding: 4px 8px;
        color: $text;
        background: $base;
        border: 0;
        border-radius: 4px;
        margin: 0px;

        &:hover {
            background: $surface0;
        }

        &:active {
            background: $base;
        }
    }

    .WorkspacesBox {
        border-radius: 4px;
        background: $base;
    }

    .workspace-active-button {
        background: $surface0;
    }

    .right {
        button {
            margin: 0px 4px;
        }
    }

    .bat-icon {
        padding-right: 0.4rem;
    }
}

window.DockWindow {
    button {
        all: unset;
        padding: 8px;
        border-radius: 4px;
        background: $mantle;

        &:hover {
            background: $surface0;
        }

        &:active {
            background: $mantle;
        }
    }

    .Dock {
        background: $mantle;
        padding: 4px;
        margin: 0px 0px 4px 0px;
        border-radius: 4px;
    }

    .dock-button-icon {
        font-size: 1.5rem;
    }

    .dock-active-button {
        background: $surface0;
    }
}
