/* evergarden winter */
/* Github: https://github.com/everviolet/scss/blob/main/themes/evergarden-winter.scss */

$red: #e67e80;
$orange: #e69f7f;
$yellow: #e1c182;
$green: #bcd19c;
$aqua: #a1cfad;
$skye: #9ecec8;
$blue: #9bb5cf;
$purple: #c8afe0;
$pink: #ebb9dd;
$text: #dddecf;
$subtext1: #adc9bc;
$subtext0: #96b4aa;
$overlay2: #839e9a;
$overlay1: #6f8788;
$overlay0: #58686d;
$surface2: #4a585c;
$surface1: #3d494d;
$surface0: #232a2e;
$base: #1d2428;
$mantle: #191e21;
$crust: #171c1f;
