@import "colors/current-theme.css";

/* Waybar styling */
window#waybar {
    background-color: transparent;
}

window > box {
    background-color: @backgrounddark;
    padding: 0px 5px;
    margin: 5px 100px 0px 100px;
}

* {
    font-family: SpaceMono Nerd Font;
    font-weight: 600;
    font-size: 10px;
    padding: 0;
    border-radius: 8px;
}

#cpu,
#memory,
#disk,
#custom-updates,
#pulseaudio,
#workspaces,
#clock,
#sys-settings,
#custom-spotify,
#network,
#network.linked,
#network.ethernet,
#network.wifi {
    background-color: @background;
}

#custom-arch {
    margin: 6px 2px;
    font-size: 16px;
    color: @color12;
    padding: 0px 5px 0px 10px;
}

#custom-three-dots-seperator {
    color: @foregroundlight;
    margin: 6px 2px;
    padding: 0px 5px;
}

#cpu, #memory, #disk, #mpris, #sys-settings, #pulseaudio, #custom-updates, #clock {
    color: @text;
    border-radius: 100px;
    padding: 0px 10px;
    margin: 6px 2px;
}

#sys-settings.battery {
	padding: 0px;
}

#workspaces {
    border-radius: 100px;
    margin: 6px 2px;
    padding: 0px 10px;
}

#workspaces button {
    color: @color11;
    padding: 0px 5px;
}

#workspaces button.active {
    color: @color14;
}

#workspaces button.urgent {
    color: @color5;
}

#workspaces button.empty {
    color: @textlight;
}

#workspaces button:hover {
    color: @color7;
    background-color: @background;
}

#bluetooth {
    font-size: 12px;
    color: @color12;
    padding: 6px;
}

@keyframes blink {
    to {
        color: @text;
    }
}

#battery.charging {
    animation-name: blink;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

tooltip {
    padding: 25px;
    background-color: @backgrounddark;
    color: @foreground;
    font-family: CartographCF Nerd Font;
}

tooltip label {
    padding: 15px;
    color: @textdark;
}

#network {
    font-size: 11px;
}

#battery {
    margin-left: 2px;
    margin-right: 10px;
}

#custom-power-button {
    color: @color5;
    padding: 0px 10px;
    margin: 6px 2px;
}

#tray {
    margin: 6px 2px;
    padding: 0px 10px;
}
