@import "../../variables";

.workspace-entry {
    padding: 2px;
}

.workspace-entry.occupied {
    color: $text;
}

.workspace-entry.empty {
    color: $text-dim;
}

.workspace-entry.current {
    /* font-size: 10pt; */
    font-weight: 600;
    color: $accent;
}
