@import "colors/current-theme.css";

window#waybar {
	background-color: transparent;
}

window > box {
	background-color: @background;
	margin: 6px 8px;
}

* {
	font-family: SpaceMono Nerd Font;
	font-weight: 600;
	font-size: 9px;
	padding: 0;
	border-radius: 6px;
}

.modules-left, .modules-center, .modules-right {
	
}

#custom-launcher,
#workspaces,
#clock,
#bluetooth.connected,
#custom-spotify,
#network,
#network.linked,
#network.ethernet,
#network.wifi,
#custom-powermenu,
box#sys-tray{	
	color: @text;
	margin: 2px;
	background-color: @background;
}

#custom-launcher {
	color: @color12;
	padding-left: 14px;
}

#workspaces {
	padding: 2px 10px;
}

#workspaces button {
	color: @textlight;
	padding: 0px 5px
}

#workspaces button.active {
	color: @background;
	background-color: @color12;
}

#workspaces button.urgent {
	color: @color6;
}

#workspaces button:hover {
	color: @color12;
	background-color: @background;
}

box#sys-tray {
	padding: 2px 10px 2px 10px;
}

#backlight{
    color: @textlight;
}
#pulseaudio{
    color: @textlight;
}
#battery{
    color: @textlight;
}

.pulseaudio-grp{
	color: @textlight;
}

#battery.text{
    padding-right: 8px;
}
#backlight.text{

}
#pulseaudio.text{
    padding-right: 8px;
}

#clock {
	padding: 2px 10px;
}

#custom-powermenu {
	padding: 2px 12px 2px 10px;
}

#bluetooth,
#bluetooth.off,
#bluetooth.on {
	color: @textlight;
	padding: 2px 4px 2px 10px;
	margin: 2px;
	background-color: @background;
} 

#network,
#network.disconnected,
#network.disabled {
	color: @textlight;
	padding: 2px 8px;
}

#custom-spotify {
	background-color: @backgrounddark;
	padding: 2px 10px;
}

#custom-powermenu {
 	color: @color13;
	padding-right: 14px;
}

tooltip {
    padding: 25px;
    background-color: @background;
    color: @text;
    font-family: CartographCF Nerd Font;
}

tooltip label {
    padding: 15px;
    color: @textlight;
}

label:focus {
    background-color: @background;
}

#clock{ 
    color: @text;
}
