[Unit]
Description=ibus environment initialization
Before=xorg.target

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl --user set-environment XMODIFIERS=@im=ibus
ExecStart=/usr/bin/systemctl --user set-environment GTK_IM_MODULE=ibus
ExecStart=/usr/bin/systemctl --user set-environment QT_IM_MODULE=ibus
ExecStart=/usr/bin/systemctl --user set-environment GLFW_IM_MODULE=ibus
