.full-noti-box {
    background-color: $bg;
}

.notification-layout-box {
    padding: 20px;
    background-color: $bg;
}

.notification-headers-label {
    /* color: $fg; */
    border-radius: 6px;
    margin: 10px;
    font-size: 9pt;
}

.notification-headers-clear {
    border-radius: 6px;
    padding: 10px 15px 10px 12px;
    font-size: 9pt;
}

.notification-card-header-box {
    /* background-color: $mantle; */
    /* color: $fg; */
    border-radius: 10px 10px 0px 0px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
}

.notification-app-name {
    margin-left: 10px;
    font-weight: 700;
    font-size: 10pt;
}

.notification-card-notify-close {
    font-size: 9pt;
}

.notification-card-box {
    /* background-color: $element-med; */
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    font-size: 9pt;
}

.notification-image {
    margin: 10px;
}

.notification-summary {
    font-size: 10pt;
}

.notification-body {
    font-size: 7pt;
}

.notifications-empty-label {
    font-size: 9px;
}

.notification-card-body {
    margin: 10px;
}

.cal-cal {
    border: 0px;
    font-size: 10pt;
}

.cal-container {
    margin: 10px 20px;
    background-color: $bg;
    padding: 5px;
    border-radius: 6px;
}

.cal-date {
    /* color: $fg; */
    font-size: 10pt;
    margin: 10px;
}

.cal-cal {
    /* color: $fg; */
    background-color: $bg;
}

.cal-cal:indeterminate {
    /* color: $dim-fg; */
}

.cal-cal:selected {
    /* background-color: $fg; */
    color: $bg;
    border-radius: 6px;
}
