@import "widgets/workspaces";

* {
    font-size: 9pt;
    font-family: "SpaceMono Nerd Font";
}

.bar {
    padding: 0px 10px;
    margin: 0px 5px;
    background-color: $bg;
    border-radius: 5px;
}

.title {
    color: $text;
    margin: 0 5px;
}

.time {
    margin-right: 10px;
}

.powerButton {
    font-size: 12pt;
}

.ccButton,
.powerButton {
    color: $accent;
}
