@import "widgets/workspaces";

* {
    font-size: 8pt;
    font-family: "SpaceMono Nerd Font";
}

.bar {
    padding: 0px 10px;
    margin: 0px 5px;
    background-color: $bg;
}

.title {
    color: $text;
}

.powerButton {
    font-size: 12pt;
}

.seperator {
    color: $text-dim;
    margin: 0px 1px;
}

.ccButton,
.powerButton {
    color: $accent;
}

.icon {
    padding: 0px 2px;
    color: $blue;
    background-color: transparent;
}

.icon:hover {
    background-color: transparent;
}

.icon-brightness {
    padding: 0px 2px;
    color: $red;
    background-color: transparent;
}

.icon-battery {
    padding: 0px 2px;
    color: $violet;
    background-color: transparent;
}
