/* CURRENT THEME : KANAGAWA */

$bg: rgba(22, 22, 29, 0.5);
$text: rgba(220, 215, 186, 1);
$text-dim: rgba(220, 215, 186, 0.4);
$accent: rgba(192, 163, 110, 255);

$blue: rgba(127, 180, 202, 255);
$red: rgba(210, 126, 153, 255);
$violet: rgba(149, 127, 184, 255);
