$fg: rgba(228, 229, 231, 1);
$dim-fg: rgba(176, 177, 180, 0.5);

$dim-bg: rgba(38, 39, 43, 0.7);

$accent: rgba(175, 236, 255, 255);
$accent-secondary: rgba(178, 203, 211, 255);

$red: rgba(238, 106, 112, 1);
$blue: rgba(123, 165, 221, 1);
$blue-desaturated: rgba(103, 145, 201, 1);
$magenta: rgba(203, 146, 242, 1);
$green: rgba(150, 214, 176, 1);
$yellow: rgba(255, 178, 155, 1);

$element-bg: rgba(23, 24, 28, 0.76);
$element-med: rgba(45, 46, 50, 1);
$element-light: rgba(67, 68, 72, 1);


$mantle: rgb(24, 24, 37, 1);


$bg: rgba(22,22,29,255);
