$fg: rgba(97, 90, 90, 1);
$dim-fg: rgba(184, 184, 184, 0.9);
$bg: rgba(255, 255, 255, 0.9);
$dim-bg: rgba(187, 187, 187, 0.9);

$accent: rgba(133, 210, 232, 255);
$accent-secondary: rgba(178, 203, 211, 255);

$red: rgba(238, 106, 112, 1);
$blue: rgba(123, 165, 221, 1);
$blue-desaturated: rgba(103, 145, 201, 1);
$magenta: rgba(203, 146, 242, 1);
$green: rgba(150, 214, 176, 1);
$yellow: rgba(255, 178, 155, 1);

$element-bg: rgba(230, 230, 230, 0.76);
$element-med: rgba(200, 200, 200, 1); 
$element-light: rgba(180, 180, 180, 1);
