@import "colors/current-theme.css";

* {
  font-family:
    SpaceMono Nerd Font,
    feather;
  font-weight: 500;
  font-size: 8pt;
  color: @textlight;
}

/* main waybar */
window#waybar {
  padding: 0;
  margin: 0;
  background: @background;
}

/* when hovering over modules */
tooltip {
  background: @background;
  padding: 15px;
  border-radius: 5%;
}

#workspaces button {
  padding: 2px;
}

/* Sets active workspace to have a solid line on the bottom */
#workspaces button.active {
  border-bottom: 2px solid @color12;
  border-radius: 0;
  margin-top: 2px;
  transition: all 0.5s ease-in-out;
}

/* More workspace stuff for highlighting on hover */
#workspaces button.focused {
  color: @color8;
}

#workspaces button.urgent {
  color: @color5;
}

#workspaces button:hover {
  background: alpha(@color12,0.1);
  color: @color12;
}

/* Sets background, padding, margins, and borders for (all) modules */
#workspaces,
#clock,
#window,
#temperature,
#cpu,
#memory,
#network,
#wireplumber,
#tray,
#battery {
  background: @background;
  padding: 0 10px;
  border: 0;
  color: @textdark;
}

#workspaces {
  padding-right: 0px;
}

/* Hide window module when not focused on window or empty workspace */
window#waybar.empty #window {
  padding: 0;
  margin: 0;
  opacity: 0;
}

/* Set up rounding to make these modules look like separate pills */
#tray {
  color: @foregrounddark;
  border-radius: 12px;
  margin-right: 4px;
}

#window {
  border-radius: 12px;
}

/* close right side of bar */
#temperature {
  border-radius: 12px 0 0 12px;
}

/* close left side of bar */
#battery {
  border-radius: 0 12px 12px 0;
}

#custom-notification {
	color: @textlight;
	margin-left: 2px;
	margin-right:12px;
	padding: 2px;
}

