@import "themes/mocha.css";

window#waybar {
	background-color: rgba(0,0,0,0);
}

window > box {
	margin: 10px 2px;
	margin-left: 8px;
	background-color: @mantle;
	border-radius: 4px;
	border: 1px solid @surface0;
	background-color: alpha(@base,0.8);
}

* {
	font-family: SpaceMono Nerd Font;
	font-weight: 600;
	font-size: 9px;
	padding: 0;
	border-radius: 6px;
}

.modules-left, .modules-center, .modules-right {
	
}

#custom-launcher,
#workspaces,
#clock,
#network.icon,
#bluetooth.icon,
#custom-spotify,
#custom-powermenu
{	
	margin: 2px;
}

#custom-launcher {
	color: @blue;
	padding-right: 2px;
	padding-top: 10px;
}

#workspaces {
	padding: 2px 4px;
}

#workspaces button {
	border-radius: 2px;
	padding: 2px 0px;
	margin: 2px 0px;
}

#workspaces button.active {
	color: @base;
	background-color: @blue;
}

#workspaces button.urgent {
	color: @maroon;
}

#workspaces button:hover {
	color: @blue;
	background-color: @base;
}

#clock-vertical {
	padding: 10px 2px;
}

#network.icon {
        padding: 4px 0px; 
        padding-left: 4px;
}

#bluetooth.icon{
        padding: 4px 0px;
}

#custom-powermenu {
	padding: 10px 0px;
}

tooltip {
    padding: 25px;
    background-color: @base;
    color: @overlay0;
    font-family: CartographCF Nerd Font;
}

tooltip label {
    padding: 15px;
    color: @foreground;
}

label:focus {
    background-color: @background;
}
